.projects {
  padding: 60px 20px;
  background-color: #eef6f9;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.project-card {
  background: rgb(248, 251, 251);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.project-card:hover {
  transform: translateY(-8px);
  background-color: rgb(225, 244, 244);
}
.project-card h3 {
  font-size: 17px;
}
.project-card p{
  font-size: 13px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #00adb5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .projects {
    padding: 40px 20px;
  }
}
