.projects {
  padding: 60px 20px;
  background-color: #eef6f9;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.project-card {
  background: rgb(248, 251, 251);
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  overflow: visible;
}
.project-card:hover {
  transform: translateY(-8px);
  background-color: rgb(225, 244, 244);
}
.project-card h3 {
  font-size: 16px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.1s ease;
}
/* .project-card h3::after{
  content: "";
  position: absolute;
  left: 20%;
  right: 0;
  bottom: 70%;
  width: 20px;
  height: 2px;
  background-color: #a1e0ea; 
  transition: all 0.1s ease;
  transform: translateX(-50%);
  transform-origin: center;
}
.project-card h3:hover::after{
  width: 60%;
  transform: scaleX(1);
} */
.project-card p{
  font-size: 13px;
}
.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #00adb5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .projects {
    padding: 40px 20px;
  }
}
