.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 100px;
  background-color: #f7fdfd;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 500px;
}
.hero-content h3{
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.595);
}

.hero-content h1 {
  font-size: 2.0rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.1rem;
  color: #444;
  font-weight: bold;
}

.hero-content button {
  background-color: #6bbe96;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 25px;
  gap: 25px;
  margin-bottom: 20px;
  transition: 0.1s ease;
}
.my-work{
  background-color:#4CAF50 ;
}
.my-work :hover{
  background-color: #3e8e41;
}

.hero-img {
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.btn{
  background-color: #0078ff;
  color: white;
  padding: 0px 0px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}
.btn:hover{
  background-color: #005fcc;
}
.resume-btn{
  background-color: #4CAF50;
  margin-left: 20px;
}
.resume-btn:hover {
  background-color: #3e8e41;
}
.hero-icons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.hero-icons a{
  display: inline-block;
}
.hero-icons img{
  width: 35px;
  height: 35px;
  transition: transform 0.1s ease;
}
.hero-icons img:hover{
  transform: scale(1.2);
}

/* Responsive */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }

  .hero-img {
    margin-top: 25px;
  }
}
@media(max-width:600px){
  .hero h1{
    font-size: 1.8rem;
  }
  .hero p{
    font-size: 0.95rem;
  }
  .btn{
    font-size: 0.9rem;
    padding: 8px 16px;
  }
  .hero-icons img{
    width: 28px;
    height: 28px;
  }
}
